

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      TZ: Europe/Moscow
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3306:3306"

  app:
    build: .
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      BOT_TOKEN: ${BOT_TOKEN}
      TZ: Europe/Moscow
    volumes:
      - .:/app
      - /etc/localtime:/etc/localtime:ro
    command: node index.js

  bot:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      BOT_TOKEN: ${BOT_TOKEN}
      TZ: Europe/Moscow
    volumes:
      - /etc/localtime:/etc/localtime:ro
    command: node bot.js

volumes:
  db_data:

